body {
  background: #eaeaef;
  color: #333333;
  margin-top: 1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
a:hover {
  text-decoration: none;
}

p {
  overflow-wrap:break-word;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Perpetua";
}

a.header-contact {
  color: #8db0eb;
}
a.header-contact:hover {
  color: #728bea;
}

.header-img {
  height: 155px;
  width: 155px;
  border: 2px solid;
  border-color:  #50bcfa #ffa340; 
}

.site-navbar .navbar-nav .nav-link {
  color: #ced5db;
}

.site-navbar .navbar-nav .nav-link:hover {
  color: #50bcfa;
}

.site-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.site-main .content-section {
  border-left-color: #50bcfa; 
  border-left-width: 4px;
}

.site-sidebar .content-section {
  border-left-color: #ffa340;
  border-left-width: 4px;
  text-align: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  word-wrap: break-word;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-paper-img {
  height: 10em;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.fa {
  color: white;
}
.btn-social-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.i {  
  color: #ffa340;
  position: relative;
}
.i:before {
  content: "ı";
  color: #444444;
  position: absolute; 
}

.project-img {
  height: 100%;
  width: 100%;
}



:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background: #333;
  color: #555;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-top {
  margin-top: 1em;
  max-height: 100%;
}
.card-technologies {
  margin: 2em auto;
  padding: 0px;
  text-align: center;
  font-family: "Monaco";
}
.card-technologies h6 {
  text-align: center;
}
.card-technologies li {
  border-color: #50bcfa;
}

.podcast-list {
  list-style-type: none;
  padding: 0;
}
.podcast-list li a {
  color: #728bea;
}
.podcast-list li a:hover {
  color: #ffa340;
}

.post-text {
  height: 300px;
}

.article-content img {
  width: 100%;
}
iframe {
  width: 100%;
}
.SandboxRoot.env-bp-min .timeline-Tweet-text {
  font-size: 20px !important;
}

.comment {
  border: 0px solid !important;
  border-color:  #ffa340;
  font-family: "Monaco";
}
