{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    	<h2> Hi and Welcome, wonderer!</h2>
    	<p> We have been waiting for you. As you can see, we are 
    	still in the construction stage of development, but don't worry, there are
    	still many things you can check out: </p>


    	<p> 1. Click around, some links even point to things!.. and some don't... </p>
    	
    	<p> 2. Check out the blog section, that's where most of the information is! </p>

    	<p> 3. Say hi! Create an account (but please use a throw away password since I do not want
    	to be responsible in case my database is not well secured, <strong>which it should be</strong>, 
    	but you know), and write a post! </p>

    	<p> 4. The Cake Is a Lie. </p>

    	<p> 6. If you find any unexpected features (<i>bugs</i>) since there isn't 
    		yet a <i>report bug</i> section, just write about it in
    		 a post and I'll get to it.</p>
    </div>
{% endblock content %}