{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2> Hi and Welcome, wonderer!</h2>
        <p> We have been waiting for you. The website is almost finished!</p>

        <p>A quick guide:</p>

        <p>1. You can find the up-to-date version of my resume in the <a href="/about">Resume</a> Tab</p>

        <p>2. Highlighted <a href="/projects/academic">Academic</a> work and <a href="/projects/development">Coding</a> projects can be found in Projects dropdown</p>

        <p>3. I haven't yet built a proper <a href="/projects/competitive">Competitive</a> section, but at least you can see my
        current codeforces rating in the sidebar!</p>

        <p>4. Blog section (mostly) contains unpolished things that I'm working on</p>

        <p>5. Why is there a login page? That's a good question. I built it mainly
        because I wanted to gain some experience with SQLAlchemy. As a side effect, you
        can in fact register and write a blog post, or just use the <a href="/contact">Contact</a> link. </p>

        <p>6. Why am I purple? That's also a good question. It's somewhat a tradition for me
            - instead of using fancy photo filters, I take some mathematical concept, run my 
            image through it and Voilà! This is a <a href="https://en.wikipedia.org/wiki/K-means_clustering"><italic>k</italic>-means clustering</a> algorithm with a 
            clever pick of <italic>k</italic> and a small bug/feature.
        </p>
    </div>
{% endblock content %}