{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2> Welcome, wanderer!</h2>

        <p>A quick guide to the website:</p>

        <p>1. Go to <a href="/blog">Blog</a> to find my most recent activity! </p>

        <p>2. Highlighted <a href="/projects/academic">Academic</a> work and <a href="/projects/development">Coding</a> projects can be found in Projects dropdown</p>

        <p>3. You can find the up-to-date version of my resume in the <a href="/about">Resume</a> Tab</p>

        <p>4. Why am I purple? That's also a good question. It's somewhat a tradition for me
            - instead of using fancy photo filters, I take some mathematical concept, run my 
            image through it and Voilà! This is a <a href="https://en.wikipedia.org/wiki/K-means_clustering"><italic>k</italic>-means clustering</a> algorithm with a 
            clever pick of <italic>k</italic> and a small bug/feature.
        </p>
    </div>
{% endblock content %}