<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Add icon library -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-social.css') }}">


    {% if title %}
        <title>Ramil's Cave - {{ title }}</title>
    {% else %}
        <title>Ramil's Cave</title>
    {% endif %}
</head>
<body>
  <div class="container-fluid px-0">
    <header class="site-header">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-xs-12 col-md-3 col-xl-2 text-center text-md-left">
            <img class="rounded-circle header-img" src="{{ url_for('static', filename='images/ramil_logo.jpg') }}">
          </div> 
          <div class="col-xs-12 col-md-7 col-xl-8 text-center text-md-left">
            <h1>Ram<span class="i">i</span>l R Aleskerov </h1>
            <h3><small>Math wizard, Developer, Cosmopolitan</small></h3>

            <a href="https://www.linkedin.com/in/ramilaleskerov/" class="btn btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
            <a href="https://github.com/Mathemmagician" class="btn btn-social-icon btn-github">
              <span class="fa fa-github"></span>
            </a>
            <a href="https://twitter.com/Mathemmagician" class="btn btn-social-icon btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
          </div> 

          <div class="col-xs-12 col-md-2 col-xl-2 text-center text-md-left">
            <h3><a class="header-contact" href="{{ url_for('main.contact') }}">Contact</a> </h3>
          </div>
        </div>
      </div>
    </header>

    <div class="site-navbar">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">Resume</a>
              <a class="nav-item nav-link" href="#">Projects</a>
              <a class="nav-item nav-link" href="{{ url_for('main.blog') }}">Blog</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <main role="main" class="container pt-3">
    <div class="row">
      <div class="col-md-8 site-main">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>

      <div class="col-md-4 site-sidebar">
        <div class="content-section">
          <h3>Sidebar</h3>
          <p class='text-muted'>Might put some interesting information
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Cool Photos</li>
            </ul>
          </p>
        </div>

        <div class="content-section">
          <h4> Featured Tweet </h4>

          <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Woohoo! My team, unExpected Value, came in 1540th place overall in the <a href="https://twitter.com/hashtag/HashCode?src=hash&amp;ref_src=twsrc%5Etfw">#HashCode</a> Online Qualification Round . Our final score was 25773211. 🏆 <a href="https://t.co/o4kKTgCoCS">https://t.co/o4kKTgCoCS</a></p>&mdash; Ramil (@Mathemmagician) <a href="https://twitter.com/Mathemmagician/status/1230887513306300416?ref_src=twsrc%5Etfw">February 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
      </div>
    </div>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
