{% extends "layout.html" %}
{% block content %}


<section class="jumbotron text-center">
	<div class="container">
	  <h1 class="jumbotron-heading">Development </h1>
	  <p class="lead text-muted">Highlighted work</p>
	
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">


			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px; width:200px;"> 
								<img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D0BAQGKNSSSS9QVEg/company-logo_200_200/0/1574701329794?e=1617840000&v=beta&t=XExRXf3N72s_0ZgbS-zz-Vk4n_NI4Z3Yq4MGeJvL4fI" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Event Dynamic </h5>
								<p class="card-text">
									Working as a Data Scientist on algorithms driving dynamic ticket pricing! Encountering 
									advanced mathematics, artificial intelligence and other buzzwords daily. Periodically slaying dragons.
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://www.eventdynamic.com/">ED Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
					          	<li class="list-group-item"> REST API </li>
								<li class="list-group-item"> SQL </li>
								<li class="list-group-item"> Jira </li>
								<li class="list-group-item"> Scala </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>





			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px; width:200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/raML.png') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> raML </h5>
								<p class="card-text">
									Developing Machine Learning from scratch in Python. The goal is to take the best ideas from major
									ML frameworks and data science toolkits and implement them in an efficient way.
									Heavily inspired by Keras, Scikit-learn and Micrograd
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/raML">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
					          	<li class="list-group-item"> Numpy </li>
								<li class="list-group-item"> Pandas </li>
								<li class="list-group-item"> <b>Less</b> </li>
								<li class="list-group-item"> <b>Equals</b> </li>
								<li class="list-group-item"> <b>More</b> </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>



			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="https://gw.alipayobjects.com/mdn/rms_ae7ad9/afts/img/A*-wAhRYnWQscAAAAAAAAAAABkARQnAQ" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Manta Trader </h5>
								<p class="card-text">
									Joined a FinTech Startup where I worked on making algo trading accessible and simple.
									Personally implemented a lot of ML, algorithms and designed backened architecture.
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://mantatrader.com/">Manta Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Keras </li>
					          	<li class="list-group-item"> REST APIs </li>
								<li class="list-group-item"> Python </li>
								<li class="list-group-item"> Github </li>
								<li class="list-group-item">  <b>Less</b> </li>
								<li class="list-group-item"> <b>Equals</b> </li>
								<li class="list-group-item">  <b>More</b> </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>



			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/longboard.jpg') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Smart Longboard </h5>
								<p class="card-text">
									This is the most hands-on project I've ever worked on. Circuits, Engineering, and a lot of Tape. The idea was to 
									wrap LED strip on the perimeter of my longboard, which are automatically controlled with a 9 <a href="https://en.wikipedia.org/wiki/Degrees_of_freedom_(mechanics)">DOF</a> sensor 
									to respond to motions via appropriate colorful patterns. Oh yeah, I also made a silly video. Unfortunately, didn't have
									time to remake it after implementing the "smart" part.
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/RaspPi_Longboard_LED">Github Link</a>
							          </button>
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://www.youtube.com/watch?v=ROuk5nb8ziI">Silly Video</a>
							          </button>
							        </div>
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> RaspberryPi </li>
					          	<li class="list-group-item"> <a href="https://www.amazon.com/Adafruit-Absolute-Orientation-Fusion-Breakout/dp/B017PEIGIG">BMO055</a> </li>
								<li class="list-group-item"> <a href="https://www.amazon.com/gp/product/B00K7UHPEC/ref=ppx_yo_dt_b_search_asin_image?ie=UTF8&psc=1">ws2812b</a> </li>
								<li class="list-group-item"> Python </li>
								<li class="list-group-item"> IR remote </li>
								<li class="list-group-item"> <a href="https://en.wikipedia.org/wiki/Kalman_filter#:~:text=In%20statistics%20and%20control%20theory,than%20those%20based%20on%20a">KalmanFilter </a></li>
								<li class="list-group-item"> Tape </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>




			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/dnn.png') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Is "Clickbait" objective? </h5>
								<p class="card-text">
									I assume that it is, and then try to develop a methodology, dataset and a ML model to try derive some of its features. The
									motivation is to help humans preserve their time by identifying and removing distrative (clickbaity) images. 

								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/CLICKBAIT-IMAGE-CLASSIFIER">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> TensorFlow </li>
					          	<li class="list-group-item"> Keras </li>
								<li class="list-group-item"> Jupyter </li>
								<li class="list-group-item"> Pigeon </li>
								<li class="list-group-item"> Numpy </li>
								<li class="list-group-item"> PIL </li>
								<li class="list-group-item"> Pandas </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>


			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/TensorFlowLogo.svg/1200px-TensorFlowLogo.svg.png" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> TensorFlow in Practise</h5>
								<p class="card-text">
									I have completed TF course offered by deeplearning.ai! I wanted to learn a proffesional ecosystem tool
									for developing ML models. Additional challenge was to complete this 4-month course in a week (finished in 5 days).
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8JFEZQY6VYHM">Official Certificate Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Topics </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Convolutions </li>
					          	<li class="list-group-item"> Recurrent NN </li>
								<li class="list-group-item"> Natural Language Processing </li>
								<li class="list-group-item"> Data Augmentation </li>
								<li class="list-group-item"> Time Series </li>
								<li class="list-group-item"> Transfer learning </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>



			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/aprilfools.png') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Creativity in Competitive Programming </h5>
								<p class="card-text">
									Are Top Performers Creative? After performing much better than usual in 
									Codeforces April Fool's contest, I've decided to see how well of a 
									predictor CP rating is for ranks in a more creative contest.

								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/AprilFoolsContestAnalysis/blob/master/April_1_Codeforces.ipynb">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
								<li class="list-group-item"> Jupyter </li>
								<li class="list-group-item"> Pandas </li>
								<li class="list-group-item"> CF API </li>
								<li class="list-group-item"> Matplotlib </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>



			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/Flask_website.png') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title">Personal website</h5>
								<p class="card-text">
									The project of all projects is a meta-project including all other projects, i.e. this very website.
									Built from scratch with internet's help.
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/Flask_website">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
								<li class="list-group-item"> Flask </li>
								<li class="list-group-item"> SQLite </li>
								<li class="list-group-item"> Unicorn </li>
								<li class="list-group-item"> Nginx </li>
								<li class="list-group-item"> Github </li>
								<li class="list-group-item"> Html/CSS </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>


			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/hashcode.jpg') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Google HashCode 2020 </h5>
								<p class="card-text">
									Even though this was a competition,
									we did a lot of Jupyter notebook style data analysis and algorythmic optimization,
									which lies more in the development field. 
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/HashCode2020">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
								<li class="list-group-item"> Jupyter </li>
								<li class="list-group-item"> Pandas </li>
								<li class="list-group-item"> Numpy </li>
								<li class="list-group-item"> Matplotlib </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>



			<div class="col-lg-6 ">
				<div class="card mb-4 box-shadow">
					<div class="container-fluid row">
						<div class="col-md-8">
						  	<div class="container" style="height: 200px;"> 
								<img class="card-img-top" src="{{ url_for('projects.static', filename='images/stock.png') }}" alt="Card image cap">
						  	</div>
						    <div class="card-body">
								<h5 class="card-title"> Stock Market History </h5>
								<p class="card-text">
									In this project I scrape the stock history of SNP 500 with Yahoo's API, visualize it, 
									and perform some basic analysis, ex. building a heatmap matrix. 
								</p>
						      	<div class="d-flex justify-content-between align-items-center">
							        <div class="btn-group">
							          <button type="button" class="btn btn-sm btn-outline-secondary">
							          	<a href="https://github.com/Mathemmagician/Stock_scraper">Github Link</a>
							          </button>
							        </div>
							        
						      	</div>
						    </div>
						</div>
						<div class="col-md-4 card-technologies">
					    	<h6> Technologies </h6>
					        <ul class="list-group ml-4 ml-md-0" >
					          	<li class="list-group-item"> Python </li>
								<li class="list-group-item"> Beautifulsoup4 </li>
								<li class="list-group-item"> Pandas </li>
								<li class="list-group-item"> Numpy </li>
								<li class="list-group-item"> Matplotlib </li>
								<li class="list-group-item"> requests </li>
				        	</ul>
					    </div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>

{% endblock content %}



